{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Role</th>
        <th scope="col">Id</th>
        <th scope="col">LoginId</th>
        <th scope="col">Nickname</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <th>{{role}}</th>
            <th>{{id}}</th>
            <td><a href="/users/{{id}}">{{loginId}}</a></td>
            <td>{{nickname}}</td>
            <td>{{password}}</td>
        </tr>
    {{/memberList}}
    </tbody>
</table>

{{>layouts/footer}}